<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	
	<form th:action="@{/users/edits/{uname} (uname=${user.uname})}" th:object = "${user}" method="Get">
						<div class ="form-group">
							<label> User Name </label>
							<input
							type = "text"
							name = "uname"
							th:field = "*{uname}"
							class = "form-control"
							placeholder="Enter Name" 
							/>
						</div>
						
						
						
						
						<div class = "box-footer">
							<button type="submit" class = "btn btn-primary">
								Submit
							</button>
						</div>
					</form>
		
</body>
</html>