@charset "ISO-8859-1";
.main-menu{
    background-color: yellowgreen;
}
.main-menu > ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.main-menu > ul > li{
    display: inline-block;
}
.main-menu > ul > li > a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px 40px 20px 40px;
    font-family: sans-serif;
    font-size:medium;
}
.main-menu > ul > li > a:hover{
    background-color: orange;
    color: black;
}
